
3.3/.idea/3.3.iml
3.3/.idea/inspectionProfiles/profiles_settings.xml
3.3/.idea/misc.xml
3.3/.idea/modules.xml
3.3/.idea/vcs.xml
3.3/.idea/workspace.xml
3.3/__pycache__/.DS_Store
3.3/__pycache__/frame.cpython-37.pyc
3.3/.DS_Store
3.3/.DS_Store
3.4/.idea/vcs.xml
3.4/.idea/misc.xml
3.4/.idea/modules.xml
3.4/.idea/inspectionProfiles/profiles_settings.xml
3.4/.idea/3.4.iml
3.4/.DS_Store
5.1/.idea/5.1.iml
5.1/.idea/inspectionProfiles/profiles_settings.xml
5.1/.idea/misc.xml
5.1/.idea/modules.xml
5.1/.idea/vcs.xml
